body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.flexible-container{
    display: flex;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.flexible-container img{
    width: 85%;
}
.button-link{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(tomato, salmon);
    padding: 10px 20px;
    border-radius: 20px;
    color:white;
    font-weight: 800;
   }
   #background1{
       background-image: url(images/bg1.png);
       height: 300px;
   }
   .section2{
       margin-top: 50px;
   }
   .section2-img{
       margin: 60px 100px;
   }
   .sec2Div{
       margin: 30px 60px;
   }
   .sec3{
       text-align: center;
       margin-top: 60px;
       display: flex;
   }
